.reset-frm-field{
    padding: 16px;
    border: 1px solid #c9c9c9;
}
.reset-legend{
    width: auto;
    color: #6c757d;
    font-size: 1rem;
}
.edit-profile-btn{
    width: 20%;
}
.frm-wraper-review {
    width: 70%;
    margin-left: 15%;
}
.review-header{
    text-align: center;
}
.frm-title{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 10px;
    color: #525252;
}