
<footer >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-left">
          <ul class="footer-nav">
            <li><a  routerLink="/terms-conditions"> Terms of use</a></li>
            <li><a  routerLink="/privacy-policy">Privacy Policy</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-right" >
          <p style="margin: 15px;">&copy; WINDEM ALL RIGHTS RESERVED - V 1.8</p>
        </div>
      </div>
    </div>

  </div>

</footer>