<div class="container">
        <app-header></app-header>
    </div>
<div class="wrapper">
    <div class="container">
        <div class="page-wraper">
            <div class="page-header"><h3>State Candidate Pastsurvey</h3></div>

            <app-state-candidate-header></app-state-candidate-header>
            <div class="form-container">
                <div >
                    <div class="form-group">
                        <h2 class="review-text">Page Comming Soon..</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>