<div class="container">
        <app-header></app-header>
    </div>
<div class="wrapper">
    <div class="container">
        <div class="page-wraper">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header"><h3>RunTogether Federal Candidate Home</h3></div>

                    <app-federal-candidate-header></app-federal-candidate-header>
                    <div class="form-container">
                        <form >
                            <div >
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <h3 class="review-text"> Page comming soon.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>