<div class="container">
        <app-header></app-header>
    </div>
<div class="wrapper">
    <div class="container">
        <div class="page-wraper">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header"><h3>RunTogether Blue Angel Home</h3></div>

                    <app-blue-angels-header></app-blue-angels-header>
                    <div class="form-container">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <h2 class="review-text"> Page comming soon.
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="form-container" [hidden]="true">
                        <form>
                            <div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <p class="text-white text-center"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                            craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="legend-label">
                                            <div class="available">&nbsp;</div>
                                            <label> Available for Contribution</label>
                                        </div>
                                        <div class="legend-label">
                                            <div class="unavailable">&nbsp;</div>
                                            <label> Currently Unavailable for Contribution</label>
                                        </div>
                                        <div class="legend-label">
                                            <div class="max">&nbsp;</div>
                                            <label>Maximum Contribution Reached</label>
                                        </div>

                                    </div>
                                    <!-- <div class="col-md-3">
                                        <p class="review-sub-title">Date : <span>16/5/2018</span></p>
                                    </div> -->
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row item-row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value=""> Aaron Scheinberg</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Congressional candidate West Virgina</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" placeholder="$2,700" (keypress)="numberOnly($event)">
                                        </div>
                                    </div>
                                    <div class="form-group row item-row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value=""> kristen Gillibrad</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Senate Candidate New York</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" placeholder="$2,700" (keypress)="numberOnly($event)">
                                        </div>
                                    </div>
                                    <div class="form-group row item-row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value=""> kristen Gillibrad</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Senate Candidate New York</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" placeholder="$2,700" (keypress)="numberOnly($event)">
                                        </div>
                                    </div>
                                    <div class="form-group row item-row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value=""> kristen Gillibrad</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Senate Candidate New York</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" placeholder="$2,700" (keypress)="numberOnly($event)">
                                        </div>
                                    </div>
                                    <div class="form-group row item-row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value=""> kristen Gillibrad</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Senate Candidate New York</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" placeholder="$2,700" (keypress)="numberOnly($event)">
                                        </div>
                                    </div>
                                    <div class="form-group row item-row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value=""> kristen Gillibrad</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Senate Candidate New York</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" placeholder="$2,700" (keypress)="numberOnly($event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row item-row bg-grey1">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value=""> kristen Gillibrad</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Senate Candidate New York</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" value="" (keypress)="numberOnly($event)" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row item-row bg-grey1">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value=""> kristen Gillibrad</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Senate Candidate New York</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" value="" (keypress)="numberOnly($event)" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row item-row bg-grey2">
                                        <div class="col-sm-3">
                                            <!-- <div class="checkbox">
                                                <label><input type="checkbox" value=""> kristen Gillibrad</label>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Senate Candidate New York</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" placeholder="$2,700" (keypress)="numberOnly($event)" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row item-row bg-grey2">
                                        <div class="col-sm-3">
                                            <!-- <div class="checkbox">
                                                <label><input type="checkbox" value=""> kristen Gillibrad</label>
                                            </div> -->
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Senate Candidate New York</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" placeholder="$2,700" (keypress)="numberOnly($event)" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                        <div class="form-group row">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn custom-btn">Make Contributions</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>