<div class="container">
        <app-header></app-header>
    </div>
<div class="wrapper">
    <div class="container">
        <div class="page-wraper">
            <div class="page-header"><h4>RunTogether Weekly Metrics</h4></div>
            <p class="review-text"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </p>
            <br />
            <div class="form-container">
                <div class="form-group review-title">
                    <h5>Candiate Questionnaire</h5>
                </div>
                <form>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Money Spend on Digital Tools</label>
                            <input class="form-control" type="text" placeholder="$250" formControlName="firstCtrl">
                        </div>
                        <div class="col-sm-6">
                            <label>Other Money Spent</label>
                            <input class="form-control" type="text" placeholder="$100" formControlName="firstCtrl">
                        </div>
                    </div>
                </form>
                <div class="form-group review-title">
                    <h5>Voter Contacts</h5>
                </div>
                <div class="form-group">
                    <button type="submit">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>