<div class="container ">
  <h4 style="float:right;" class="text-right" (click)="homeClicked()"><span><i class="fa fa-home"></i></span> </h4>
  <h4 class="text-right" (click)="backClicked()"><span><i class="fa fa-arrow-circle-left"></i></span> </h4>
</div>
<div class="wrapper">
  <div class="container">
    <!--<app-header></app-header>-->
    <div class="page-wraper">
      <div class="page-header"><h4>WINDEM PRIVACY POLICY</h4></div>
      <div class="form-container" >
        <ul>
          <li><b>OVERVIEW</b>
            <p>
              WinDEM operates the Site and provides the Platform. We are committed to ensuring that your
              personal information shared over our Site and/or Platform is protected and kept confidential. By accepting
              WinDEM’s Terms of Service or providing information to us via our Site or Platform, you consent to the use
              and disclosure of personally identifiable information as outlined in this Privacy Policy. Please note that
              the use and disclosure of such information is also subject to the practices of the Counselors using the
              Platform.
            </p>
          </li>
          <li><b>
            SECURITY OF PERSONAL INFORMATION
          </b>
            <p>
              We take your privacy and the security of your personal information seriously. Your personal information will
              be
              stored in a secure manner. We have implemented a variety of commercially standard encryption and security
              technologies and procedures to protect your personal information which is stored in our computer systems
              from
              unauthorized access. We also maintain standard physical and electronic procedural safeguards that limit
              access
              to your personal information to our employees (or people working on our behalf and under confidentiality
              agreements) who, through the course of standard business activities, need to access your personal
              information.
            </p></li>
          <li><b>
            COLLECTION AND USE OF PERSONAL INFORMATION
          </b>
            <p>
              We will only collect information that is voluntarily submitted. We know that privacy is of the utmost
              importance. We vigorously believe in keeping confidential any and all personally identifiable information
              that identifies an individual user.</p>
            <p>We assume you are giving consent to this information collection and use, but we also give you the opportunity
              to "opt out" of receiving direct marketing or market research information by emailing us at windem.org.</p>
            <p>We maintain web logs to record data about all visitors who use the Site and interact with the Platform and we
              will store this information. These logs may contain IP address information, types of operating system you
              use, the date and time you visited the site, and information about the type of device you use to connect to
              the Site, the Platform and related services.</p>
            <p>All Web logs are stored securely and are accessible to a very limited number of employees and contractors,
              who must adhere to strict guidelines regarding user data security and privacy.</p>
          </li>
          <li><b>NON-PERSONAL IDENTIFICATION/COOKIES TECHNOLOGY</b>
            <p>
              We use cookie technology in the aggregate as opposed to
              using any personally identifiable information, to understand how our users collectively use our Site and
              Platform. This helps us continually improve our services. Most web browsers are set to accept cookies, but
              if
              you prefer not to receive cookies you can set your browser to warn you or refuse cookies all together by
              turning
              them off in your browser.
            </p>
            <p>We may also use non-personal information to analyze data into useful information. This process of data mining
              is done in the aggregate, is non-personal, and allows Company to find correlations and patterns in the
              data.</p></li>
          <li><b>SAFEGUARDS EMPLOYED</b>
            <p>We use account information in a password-protected environment as a security
              measure to protect your data. We use administrative, physical and technical safeguards to protect data. We
              maintain a high level of data protection via safeguards such as data backup, audit controls, access
              controls,
              and some data encryption. The Site and the Platform use industry standard SSL encryption to enhance security
              of
              electronic data transmissions. In addition, we urge you to take precautionary measures in maintaining the
              integrity of your data. Please be responsible in making sure no one can see or has access to your personal
              account and log-in/password information. If you use a public computer, e.g., at a library or a university,
              always remember to log out of the Site or Platform.</p>
            <p>If you use our Site or Platform through a public computer network or through an internet café, library or
              other potentially non-secure internet connection, such use is at your own risk. It is your responsibility to
              check beforehand on such other site's privacy and security policy with respect to Internet use.

            </p>
            <p>We are not responsible for your handling, sharing, re-sharing and/or distribution of users’ personal
              information. Moreover, if you forward personal information electronically to another person on or off the
              Site or Platform, we are not responsible for any harm or other consequences from third- party use or
              re-sharing of your information.</p>

          </li>
          <li><b>SELF REVIEW OF DATA AND ABILITY TO DELETE YOUR ACCOUNT INFORMATION</b>
            <p>You may request to delete any
              personal information and to de-authorize the collection of personal information in the future by sending us
              an
              email at techsupport@windem.org.</p></li>
          <li><b>THIRD PARTY SITES/TRUSTED RELATIONSHIPS</b>
            <p>Our Site and Platform may contain links to other websites
              maintained by unrelated third parties. We do not share your personally identifiable information with those
              websites (unless you specifically authorize such sharing) and are not responsible for their privacy
              procedures.
              We seek to work with trusted partners and organizations that will adhere to similar privacy and ethical
              standards, and we will take appropriate measures to ensure that the third party protects your personal
              information adequately in accordance with this Privacy Policy or as required by applicable law.
              Nevertheless, we
              encourage you to learn their particular privacy policies.</p>
            <p>In using our Platform, you may have been presented with the opportunity to consent to sharing your personally
              identifiable information with specified third parties. If you provided consent, then we share your
              information with the specified third party and require that the third party use that information in
              accordance with its published privacy policies. We cannot take responsibility for any third party’s
              collection or use of your information, and we encourage you to check their privacy policies for further
              information.</p>
            <p>We disclose personally identifiable information about you as required or permitted by law, including
              complying with legal process (for example, we may disclose your information as necessary to comply with an
              authorized civil, criminal or regulatory investigation). We fully cooperate with law enforcement agencies in
              identifying those who use our services for illegal activities and may, in our sole discretion, disclose
              personal information or other information to satisfy any law, regulation, subpoena, or government request.
              We reserve the right to release personal information or other information about users who we believe are
              engaged in illegal activities or are otherwise in violation of our Terms of Service, even without a
              subpoena, warrant or court order, if we believe, in our sole discretion, that such disclosure is necessary
              or appropriate to operate our web site or to protect our rights or property, or that of our affiliates, or
              our officers, directors, employees, agents, third-party content providers, suppliers, sponsors, or
              licensors. We also reserve the right to report to law enforcement agencies any activities we reasonably
              believe in our sole discretion to be unlawful. If we are legally compelled to disclose information about you
              to a third party, we will attempt to notify you by sending an email to the email address in our records
              unless doing so would violate the law or unless you have not provided your email address to us.</p>
          </li>
          <li><b>ADDITIONAL MEASURES</b>
            <p>Even though our Site and our Platform are intended for use in the United States, we attempt to comply with
              the principles of Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016,
              as amendment (commonly known as the General Data Protection

              Regulations, or “GDPR”) to give you the same rights with respect to your personally identifiable
              information, including the rights to:
            <p>Request access to your personally identifiable information;</p>
            <p>Request correction or deletion of your personally identifiable information;</p>
            <p>Object to our use and processing of your personally identifiable information;</p>
            <p>Request that we limit our use and processing of your personally identifiable information; and</p>
            <p>Request portability of your personally identifiable information.

            </p>
            <p>We will keep your personally identifiable information only for the period required unless you authorize
            except as set forth in the third paragraph of “THIRD PARTY SITES/TRUSTED RELATIONSHIPS,” above
            </p>
          </li>
          <li><b>CHANGES TO THIS PRIVACY POLICY</b>
            <p>We may amend our Privacy Policy in the future. In the event changes are made, we will be sure to post changes
              at the Site and at other places we deem appropriate.</p>
          </li>
          <li><b>QUESTIONS OR SUGGESTIONS

          </b>
            <p>If you have any questions or suggestions on ways we can improve our Privacy Policy with respect to personal
              information, please email us at techsupport@windem.org.</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-footer></app-footer>