<div class="container ">
    <h4 style="float:right;" class="text-right" (click)="homeClicked()"><span><i class="fa fa-home"></i></span> </h4>
    <h4 class="text-right" (click)="backClicked()"><span><i class="fa fa-arrow-circle-left"></i></span> </h4>
</div>
<div class="wrapper">
    <div class="container">
        <!--<app-header></app-header>-->
        <div class="page-wraper">
            <div class="page-header"><h4>WinDEM TERMS OF SERVICE</h4></div>
            <div class="form-container">
                <p class="text-center text-white">
                    PLEASE READ THE AGREEMENT BELOW AND INDICATE YOUR ACCEPTANCE BY CLICKING THE "ACCEPT" BUTTON. BY
                    CLICKING THE "ACCEPT" CHECKBOX, YOU ARE INDICATING THAT YOU AGREE TO BE BOUND BY ALL OF THE
                    PROVISIONS IN THESE TERMS OF SERVICE. IF YOU DO NOT AGREE TO THESE TERMS OF SERVICE, DO NOT USE THE
                    WinDEM PLATFORM OR ANY ASSOCIATED SERVICES.
                </p>
                <p class="text-white"><b>Scope</b>. The WinDEM Terms of Service consist of the Terms of Service and the
                    Privacy Policy (click here
                    to link). The Terms of Service constitutes an agreement between you and WinDEM, LLC that allows you
                    to make use of the WinDEM website located at windem.org (the “Site”) and the relevant services
                    associated with the Site (collectively, the “Platform”) so long as you comply with the requirements
                    of the Terms of Service. The Platform is owned and operated by WinDEM, LLC, a Virginia limited
                    liability company with offices located at 198 Van Buren Street, Suite 200 Presidents Plaza, Herndon,
                    Virginia 20170 ("WinDEM” or “We” or “Us”).</p>
                <p class="text-white"><b>Applicability</b>. The Platform is intended to facilitate elections.</p>

                <h3 class="text-white text-center">GENERALLY APPLICABLE TERMS AND CONDITIONS</h3>
                <ul>
                    <li><b>ELIGIBILITY FOR USE</b>
                        To use the Platform, you must be at least 18 years of age. WinDEM does not intentionally make
                        its services available for use by persons under 18. Although the Site is readily accessible to
                        the public, use of the Platform and its functionalities requires registration.
                    </li>
                    <li><b>ACCOUNT REGISTRATION</b>
                        To access the Platform, you must first register to establish an individual user account
                        ("Account"), by providing certain information. You agree that you will not create more than one
                        Account, or create an account for anyone other than yourself without first receiving permission
                        from the other person. In exchange for your use of the Platform and, if applicable, in order for
                        users to send notices and other information to you, you agree to: (i) provide true, accurate,
                        current and complete information about yourself as prompted by our Account registration form;
                        and (ii) each time you log on, maintain and promptly update such Account information to keep it
                        true, accurate, current and complete. If you provide any information that is untrue, inaccurate,
                        not current or incomplete, or we have reasonable grounds to suspect that such Account
                        information is untrue, inaccurate, not current or incomplete, we reserve the right to suspend or
                        terminate your Account and refuse any and all current or future use of the Platform.
                    </li>
                    <li><b>ACCESS CONTROLS</b>
                        Access to the Platform is enabled only by usernames and passwords. You should maintain your
                        username and password in strict confidence. In no event should you share your username or
                        password with any third party or allow another person to access the Platform using your username
                        and password. Please notify us if you have any reason to believe that your username or password
                        has been lost or compromised or misused in any way. You are fully and solely responsible for any
                        and all use of the Platform using your username and password. We reserve the right to suspend
                        your use of the Platform, or revoke or deactivate your username and password at any time.
                    </li>
                    <li><b>END USER CONTENT</b>
                        You are fully responsible for any information, data, photographs, images or other Content
                        uploaded or posted using the WinDEM Platform (collectively, “End User Content”), and assume any
                        and all risks associated with sharing such information online. By uploading, posting or
                        otherwise making available any End User Content, you represent that you own or have the right to
                        publish such End User Content; and (ii) you grant to WinDEM a non-exclusive, royalty-free
                        license in perpetuity to use, copy and distribute such End User Content, consistent with
                        applicable law.
                    </li>
                    <li><b>INTELLECTUAL PROPERTY</b>
                        <p>
                            Ownership. All of the content available on or through the Platform (except for the End User
                            Content) is the property of WinDEM or its licensors and is protected by copyright,
                            trademark,
                            patent, trade secret and other intellectual property law (collectively, “WinDEM Content”).
                            We
                            give you permission to display, download, store and print the content only for your
                            personal,
                            non- commercial use. You agree not to reproduce, retransmit, distribute, disseminate, sell,
                            publish, broadcast, or circulate the content received through the Platform to anyone,
                            including
                            but not limited to others in your organization. All software and accompanying documentation
                            made
                            available for download from the Platform is the copyrighted work of WinDEM or its licensors.
                            Any
                            copy made of information obtained through the Platform must include all applicable copyright
                            notices.
                        </p>

                        <p>
                            <b>Marks</b>. All WinDEM trade and service names and logos (collectively, the “Marks”) are
                            trademarks
                            of WinDEM, LLC. All other brands and names are the property of their respective owners.
                            Nothing
                            contained in the Platform should be construed as granting any license or right to use any
                            trademark displayed on this site without the express written permission of WinDEM or such
                            third-party that may own the trademark.
                        </p>
                        <p>
                            <b>Limited License for Use of Platform</b>. Subject to the provisions of these Terms of
                            Service,
                            WinDEM hereby grants you a limited, revocable, non-transferable and non-exclusive license to
                            use the software, network facilities, content and documentation on and in the WinDEM
                            Platform to the extent, and only to the extent, necessary to access and use the Platform and
                            any associated services.
                        </p>
                        <p><b>License Restrictions.</b> The license granted herein does not permit you, and you agree
                            not to:
                            (a) modify, translate, reverse engineer, disassemble, decompile or create derivative works
                            of the Platform or allow a third party, whether directly or indirectly (including, but not
                            limited to the direct or indirect use of wizards, agents, bots, or other utilities), to
                            modify, translate, reverse engineer, disassemble, decompile or create derivative works of
                            the Platform; or (b) transfer, distribute, sell, lease, rent, disclose or provide access to
                            the Platform to any third party or use the Platform to provide service bureau, time sharing
                            or other services to third parties.</p>
                    </li>
                    <li><b>ACCEPTABLE USE OF PLATFORM</b>
                        You agree that you will not access or use the Platform in an unlawful way or for an unlawful or
                        illegitimate purpose or in any manner that contravenes these Terms of Service. You will not
                        post, use, store or transmit (a) a message or information under a false name; (b) information
                        that is unlawful, libelous, defamatory, obscene, fraudulent, predatory of minors, harassing,
                        threatening or hateful to any person; or (c) information that infringes or violates any of the
                        intellectual property rights of others or the privacy or publicity rights of others. You will
                        not attempt to disrupt the operation of the Platform by any method, including through use of
                        viruses, Trojan horses, worms, time bombs, denial of service attacks, flooding or spamming. You
                        will not use the Platform in any manner that could damage, disable or impair any service
                        associated with it. You will not attempt to gain unauthorized access to any user accounts or
                        computer systems or networks, through hacking, password mining or any other means. You will not
                        use any robot, scraper or other means to access the Platform for any purpose.
                    </li>
                    <li>
                        <b>CHANGES TO THE AGREEMENT</b>
                        We may, in our sole discretion, from time to time, and without prior notice, modify or amend
                        these Terms of Service. It is your responsibility to review these terms and conditions each time
                        you use this website. Your continued use of the Platform constitutes your acceptance of any
                        changed terms and conditions; if you do not agree with any changed terms and conditions, you
                        must cease your use of the Platform immediately.
                    </li>
                    <li><b>CHANGES TO THE PLATFORM</b>
                        We reserve the right to change, suspend, or discontinue all or any part of the Platform,
                        temporarily
                        or permanently, without prior notice. We also reserve the right to delete or change any username
                        or
                        password at any time, for any legal reason.
                    </li>
                    <li>
                        <b>LINKED THIRD-PARTY SITES</b>
                        Areas of the Platform may contain links to other websites operated by unrelated third parties.
                        Please note that when you click on any of these links, you are entering another website over
                        which we have no responsibility or control. Our inclusion of any link on the Platform does not
                        imply affiliation, endorsement or adoption by us of the linked site or any information contained
                        therein. We encourage you to read the terms and conditions, data-gathering practices and privacy
                        policies of all linked sites, as they may materially differ from ours. You agree that we shall
                        not be responsible for any loss or damage of any sort incurred as a result of any such links or
                        as the result of the presence of such third-party links on this site. It is up to you to take
                        precautions to ensure that whatever linked material you select is free of items such as viruses,
                        worms, Trojan horses and other destructive items.
                    </li>
                    <li><b>TERM AND TERMINATION</b>
                        The Agreement formed by your acceptance of these Terms of Service commences upon such
                        acceptance, and continues in force for the entire time you make use of the Platform, until that
                        use ceases or is terminated by either Party. We may in our sole discretion temporarily suspend
                        or terminate your access to the Platform at any time, for any legal reason. WinDEM may in its
                        discretion refuse to provide, or continue to provide, access to the Platform to any person,
                        entity or organization at any time, for any legal reason.
                    </li>
                    <li>
                        <b>INDEMNIFICATION</b>
                        Without limiting the generality or effect of other provisions of this Agreement, as a condition
                        of use, you agree to indemnify, hold harmless, and defend WinDEM and its parents, subsidiaries,
                        affiliates, licensors, suppliers and their officers, directors, affiliates, subcontractors,
                        agents and employees (collectively, "Indemnified Parties" and each, individually, an
                        "Indemnified Party") against all costs, expenses, liabilities and damages (including reasonable
                        attorneys’ and expert witness’ fees) incurred by any Indemnified Party in connection with any
                        third party claims arising out of: (i) your failure to comply with any applicable laws and
                        regulations; and (ii) your breach of any of your obligations set forth in this Agreement. You
                        agree that you will not settle any third- party claim affecting the Indemnified Parties (or any
                        of them) without the prior written consent of such Indemnified Party or Parties.
                    </li>
                    <li><b>RELEASE AND WAIVER</b>
                        You hereby release and hold WinDEM, its licensors, suppliers and providers and any third party
                        who promotes the Platform or provides you with a link to the Platform harmless from any and all
                        claims, demands, and damages of every kind and nature (including, without limitation, actual,
                        special, incidental and consequential), known and unknown, suspected and unsuspected, disclosed
                        and undisclosed, arising out of or in any way connected with your use of the Platform. To the
                        full extent permissible under applicable law, you waive the provisions of any state or local law
                        limiting or prohibiting a general release.
                    </li>
                    <li>
                        <b>EXCLUSIVE REMEDY</b>
                        In the event of any problem with the Platform or any of its content, you agree that your sole
                        remedy is to cease using the Platform. In no circumstances shall WinDEM, any WinDEM licensor or
                        supplier, or any third party who promotes the Platform or provides you with a link to the
                        Platform be liable in any way for your use of the Platform or any of its content, including, but
                        not limited to, any errors or omissions in any such content, any infringement by any content of
                        the intellectual property rights or other rights of third parties, or for any loss or damage of
                        any kind incurred as a result of the use of any content.
                    </li>
                    <li>
                        <b>WAIVER OF RIGHT TO SUE</b>YOU AGREE THAT ANY DISPUTES BETWEEN YOU AND WINDEM WILL BE GOVERNED
                        BY THE LAWS OF THE COMMONWEALTH OF VIRGINIA, AND RESOLVED BY BINDING ARBITRATION IN THE
                        COMMONWEALH OF VIRGINIA. YOU AGREE TO WAIVE YOUR RIGHT TO LITIGATE DISPUTES WITH WINDEM IN
                        COURT, EXCEPT AS OTHERWISE PROHIBITED BY APPLICABLE LAW, AND AGREE TO ABIDE BY THE DETERMINATION
                        MADE BY A NEUTRAL ARBITRATOR PURSUANT TO SUCH ARBITRATION.

                    </li>
                    <li>
                        <b>NO WARRANTY</b>
                        <p>Access to the Platform and the information contained therein is provided "as is" and "as
                            available" without any warranty of any kind, express or implied. To the fullest extent
                            permissible pursuant to applicable law, WinDEM disclaims all warranties of any kind, either
                            express or implied, including but not limited to any implied warranties of title,
                            merchantability, or fitness for a particular purpose or non-infringement. Without limiting
                            the foregoing, we do not warrant that access to the Platform will be uninterrupted or
                            error-free, or that defects, if any, will be corrected; nor do we make any representations
                            about the accuracy, reliability, currency, quality, completeness, usefulness, performance,
                            security, legality or suitability of the Platform or any of the information contained
                            therein. You expressly agree that your use of the Platform and your reliance upon any of its
                            contents is at your sole risk.</p>
                        <p>You shall be solely and fully responsible for any damage to the Platform or any computer
                            system, any loss of data, or any improper use or disclosure of information on the Platform
                            caused by you or any person using your username or password. WinDEM cannot and does not
                            assume any responsibility for any loss, damages or liabilities arising from the failure of
                            any telecommunications infrastructure, or the internet or for your misuse of any
                            information, advice, ideas, information, instructions or guidelines accessed through the
                            Platform.

                        </p>
                    </li>
                    <li><b>LIMITATION OF LIABILITY</b>
                        In no circumstances shall WinDEM, its licensors or suppliers or any third party who promotes the
                        Platform or provides you with a link to the service, be liable for any punitive, exemplary,
                        consequential, incidental, indirect or special damages (including, without limitation, any
                        personal injury, lost profits, business interruption, loss of programs or other data on your
                        computer or otherwise) arising from or in connection with your use of the Platform, whether
                        under a theory of breach of contract, negligence, strict liability, malpractice or otherwise,
                        even if we or they have been advised in advance of the possibility of such damages.
                    </li>
                    <li><b>OPERATION OF THE PLATFORM; RECORD RETENTION</b>
                        We reserve complete and sole discretion with respect to the operation of the Platform. Subject
                        to applicable law, we reserve the right to maintain, delete or destroy all communications and
                        materials posted or uploaded to the Platform without prior notice pursuant to our internal
                        record retention and/or destruction policies.
                    </li>
                    <li><b>NOTICES</b>
                        You agree that we may send to you in electronic form any privacy or other notices, disclosures,
                        reports, documents, communications or other records regarding the Platform or related services
                        (collectively, "Notices"). We can send you electronic Notices (1) to the e-mail address that you
                        provided to us during registration, or (2) by posting the Notice on the Platform or otherwise
                        through our site. The delivery of any Notice from us is effective when sent by us, regardless of
                        whether you read the Notice when you receive it or whether you actually receive the delivery.
                        You can withdraw your consent to receive Notices electronically by canceling or discontinuing
                        your use of the Platform.
                    </li>
                    <li><b>INTERNATIONAL USE</b>
                        The Platform is designed for and intended only for users in the United States. We make no
                        representation that the information and services provided on the Platform are applicable to,
                        appropriate for, or available to users in locations outside the United States. Accessing the
                        Platform from territories where the content is illegal is prohibited. If you choose to access
                        the Platform from a location outside the U.S., you do so on your own initiative and you are
                        responsible for compliance with local laws.
                    </li>
                    <li><b>COPYRIGHT ACT</b>
                        The Digital Millennium Copyright Act of 1998 (the "DMCA") provides recourse for copyright owners
                        who believe that material appearing on the Internet infringes their rights under U.S. copyright
                        law. If you believe in good faith that materials appearing on the Platform or the Site infringe
                        your copyright, you (or your agent) may send us a notice requesting that the material be
                        removed, or access to it blocked. In addition, if you believe in good faith that a notice of
                        copyright infringement has been wrongly filed against you, the DMCA permits you to send us a
                        counter- notice. Notices and counter-notices must meet statutory requirements imposed by the
                        DMCA. One place to find more information is the U.S. Copyright Office Web site, currently
                        located at <a href="http://www.loc.gov/copyright."
                                      target="_blank">http://www.loc.gov/copyright.</a>
                    </li>
                    <li><b>MISCELLANEOUS PROVISIONS</b>
                        <p><b>Governing Law and Jurisdiction</b>. This Agreement shall be governed by the laws of the
                            Commonwealth of Virginia without regard to its rules on conflicts or choice of law. You
                            hereby irrevocably consent to the exclusive jurisdiction of the courts of the Commonwealth
                            of Virginia situated in Fairfax County, Virginia for the resolution of any dispute based
                            upon or relating to this Agreement.</p>
                        <p><b>Entire Agreement.</b> This Agreement constitutes the sole Agreement between you and WinDEM
                            relating to your use and our provision of the Platform and the subject matter hereof, and no
                            representations, statements or inducements, oral or written, not contained in this Agreement
                            shall bind either you or WinDEM.</p>
                        <p><b>Severability</b>. Any of the terms of this Agreement which are determined to be invalid or
                            unenforceable shall be ineffective to the extent of such invalidity or unenforceability,
                            without rendering invalid or unenforceable any of the remaining terms of this Agreement or
                            affecting the validity or enforceability of the Agreement as a whole.

                        </p>
                        <p>
                            <b>Waiver</b>. Failure to insist on performance of any of the terms of the Agreement will
                            not
                            operate as a waiver of any subsequent default. No waiver by WinDEM of any right under this
                            Agreement will be deemed to be either a waiver of any other right or provision or a waiver
                            of that same right or provision at any other time.
                        </p>
                        <p>
                            <b>Assignment.</b> You may not assign, transfer or delegate your rights or obligations
                            hereunder,
                            in whole or in part without the prior written consent of WinDEM, LLC. This Agreement shall
                            be binding upon and inure to the benefit of each of the parties and the parties' respective
                            successors and permitted assigns.


                        </p>
                        <p><b>Waiver of Jury Trial.</b> If any dispute under this Agreement is not resolved by binding
                            arbitration and is instead brought before a court, you hereby voluntarily agree to waive any
                            rights you may have to a trial by jury.

                        </p>
                        <p><b>Electronic Facsimiles.</b> A printed version of this Agreement and of any related notice given in
                            electronic form shall be admissible in judicial or administrative proceedings based upon or
                            relating to this Agreement to the same extent and subject to the same conditions as other
                            business documents and records originally generated and maintained in printed form.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>